.App {
  display: flex;
  text-align: center;
}
.projects{
  width: 100%;
  display: flex;
  justify-content:center;
  
}
.project{
  margin: 5px;

  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.container-project{
  margin: 20px;
}
.img-project{
  width: 80%;
  border-radius: 20px;
}

.single-project{
  display: flex;
  flex-direction: column;
  justify-content :center;
  align-items : center;
  border: 1px solid;
  padding: 45px;
}
.container-single{
  width: 100%;
  border-radius: 20px
}
.single-img{
  border-radius: 20px;
  width: 100%;
}
.info-container{
  margin: 40px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.info-item{
 border: 1px solid;
 margin: 13px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
